<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-default navbar-static-top"></nav>
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{% url 'index' %}">Brand</a></li>
            <li><a class="navbar-admin" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a class="navbar-register" href="{% url 'login_app:register'%}">Registration</a></li>
            {% if  user.is_authenticated %}
            <li><a class="navbar-admin" href = "{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class="navbar-register" href="{% url 'login_app:user_login'%}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class='container'>
        {% block body_block %}

        {% endblock %}
    </div>
</body>
</html>